@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#leaflet-map,
.leaflet-container {
  height: 100% !important;
  width: 100% !important;
  min-height: 100% !important;
  position: relative !important;
  z-index: 1;
}
